---
title: "Gallery"
layout: default
excerpt: "RT2 Lab at Institut Curie"
sitemap: false
permalink: /gallery.html
---
<h1>{{page.title}}</h1>

<ul class="list-unstyled">
    {% for article in site.data.gallery %}
        <li class="media">
            <div class="media-body">
            <h4 class="mt-0 mb-1">{{ article.title }}</h4>
            <p><small>{{ article.date }}</small></p>
            
            {% for img in article.imgs %}
                <img src="{{ site.url }}{{ site.baseurl }}/images/gallery/{{ img }}" id=img
                style="width:100%">
            {% endfor %}

            {{ article.content }}

            </div>
        </li>
    {% endfor %}
</ul>
